header{
    padding-left: 30%;
}
fieldset{
background-color:#fcfbfa;
padding-left: 22.5%;
margin: flex;

}
label, input{
display: inline-block;
}

label {
    margin-bottom: 20px;
    margin-right: 20px;
}
.register-tutor label, .book-assignment label {
    padding-left: 30%;
}

.enrollment-buttons{
    padding:7%;
}

#cancel{
    margin-left:3%;
}